# {{ ansible_managed }}
MYSQL_DATABASE_HOST = {{ mysql_database_host }}
MYSQL_DATABASE_USER = {{ mysql_database_user }}
MYSQL_DATABASE_PASSWORD = {{ mysql_database_password }}
MYSQL_DATABASE_DB = {{ mysql_database_db }}
